In [1]:
from utz import *
from numpy import dtype
from tabula import read_pdf

In [2]:
year = 2022
last_month = None
n_jobs = 4
overwrite = False

In [3]:
# Parameters
year = 2022

In [4]:
if year == 2022 and last_month is None:
    last_month = 9  # 2022 data only committed here through September

In [5]:
stations = [
    'Christopher St.',
    '9th Street',
    '14th Street',
    '23rd Street',
    '33rd Street',
    'WTC',
    'Newark',
    'Harrison',
    'Journal Square',
    'Grove Street',
    'Exchange Place',
    'Newport',
    'Hoboken',
    'System-wide',
]
title = 1
contents = 2
ytd = 3
num_stations = len(stations)
section_pages = num_stations + 1  # title page
def month_page_range(month):
    start = 4 + month * section_pages
    end = start + num_stations
    return start, end

print(' '.join([ f'[{", ".join(map(str, month_page_range(month)))})' for month in range(1, 13) ]))

[19, 33) [34, 48) [49, 63) [64, 78) [79, 93) [94, 108) [109, 123) [124, 138) [139, 153) [154, 168) [169, 183) [184, 198)

In [6]:
station_offsets = { station: idx for idx, station in enumerate(stations) }
station_offsets

{'Christopher St.': 0,
 '9th Street': 1,
 '14th Street': 2,
 '23rd Street': 3,
 '33rd Street': 4,
 'WTC': 5,
 'Newark': 6,
 'Harrison': 7,
 'Journal Square': 8,
 'Grove Street': 9,
 'Exchange Place': 10,
 'Newport': 11,
 'Hoboken': 12,
 'System-wide': 13}

In [7]:
template_path = 'templates/2022-PATH-hourly-Ridership-Report.tabula-template.json'
with open(template_path, 'r') as f:
    rects = json.load(f)
rects

[{'page': 19,
  'extraction_method': 'guess',
  'x1': 0.495,
  'x2': 780.615,
  'y1': 126.225,
  'y2': 558.855,
  'width': 780.12,
  'height': 432.63},
 {'page': 19,
  'extraction_method': 'guess',
  'x1': 257.895,
  'x2': 535.095,
  'y1': 14.355,
  'y2': 77.715,
  'width': 277.2,
  'height': 63.36},
 {'page': 19,
  'extraction_method': 'guess',
  'x1': 83.655,
  'x2': 205.425,
  'y1': 98.505,
  'y2': 121.275,
  'width': 121.77,
  'height': 22.77}]

In [8]:
based_on_regex = '\(Based on (?P<month>\w+) (?P<year>\d{4}) Turnstile Count\)'
cross_honor_regex = '\(Cross[‐\-]honor (?:Entry )?Count not Included\)'

def clean(s):
    """Some years have "‐" (ord("‐") == 8028) instead of "-" (ord("-") == 45) in various titles/messages."""
    return s.replace('‐', '-')

def read_station_month_hours_tables(year, month, station):
    station_offset = station_offsets[station]
    pdf = f'data/{year}-PATH-hourly-Ridership-Report.pdf'
    start, _ = month_page_range(month)
    pg = start + station_offset
    month_name = to_dt('%d-%02d' % (year, month)).strftime('%B')
    print(f'Reading {pdf}, pg. {pg}: {month_name}, {station}')
    tables = [
        read_pdf(
            pdf,
            pages=pg,
            area=[ rect[k] for k in [ 'y1', 'x1', 'y2', 'x2', ] ],
            pandas_options={'header': None},
        )
        for rect in rects
    ]
    return tables

def to_hour(r):
    hour, AM = r['hour'], r['am'] == 'AM'
    return (0 if hour == 12 else hour) + (0 if AM else 12)

def parse_station_month_hours_tables(year, month, station):
    [hrs], [header], [actual_station] = read_station_month_hours_tables(year, month, station)
    [[actual_station]] = actual_station.values
    actual_station = clean(actual_station)  # "System-wide" can have either dash character
    if actual_station != station:
        raise RuntimeError(f"Parsed station {actual_station} != {station}")

    [[title], [based_on_msg], [cross_msg]] = header.values
    if clean(title) != 'PATH - Average Hourly Entry and Exit Counts by Station':
        raise RuntimeError(f'Unexpected title: "{title}"')

    m = fullmatch(based_on_regex, based_on_msg)
    if not m:
        raise RuntimeError(f'Unrecognized "based on" message: "{based_on_msg}"')
    parsed_year = int(m['year'])
    if year != parsed_year:
        raise RuntimeError(f"Parsed year {parsed_year} != {year}")
    parsed_month = m['month']
    month_name = to_dt('%d-%02d' % (year, month)).strftime('%B')
    if parsed_month != month_name:
        raise RuntimeError(f"Parsed month {parsed_month} != {month}")

    if not fullmatch(cross_honor_regex, cross_msg):
        raise RuntimeError(f'Unexpected cross-honor message: "{cross_msg}"')

    hrs = hrs.dropna(axis=1, how='all')
    headers = (hrs.iloc[0].fillna('') + ' ' + hrs.iloc[1]).str.strip()
    hrs = hrs.copy().iloc[2:]
    hrs = hrs.dropna(axis=1, how='all')
    headers = headers.dropna()
    hrs.columns = headers
    hrs['Year'] = year
    hrs['Month'] = month
    hrs['Station'] = station
    hrs = hrs[['Year', 'Month', 'Station'] + headers.tolist()]
    for k in hrs.columns[4:]:
        col = hrs[k]
        dt = col.dtype
        if dt == dtype('O'):
            hrs[k] = hrs[k].str.replace(',', '').astype(int)
        elif dt == dtype('float64'):
            hrs[k] = hrs[k].astype(int)
        elif dt == dtype('int64'):
            pass
        else:
            raise RuntimeError(f'Unexpected dtype, col {k}: {dt}')

    total_rows = hrs.Hour == 'Total'
    totals = hrs[total_rows]
    hrs = hrs[~total_rows]

    Hour = hrs.Hour.str.extract('(?P<hour>\d\d?):00:00 (?P<am>AM|PM)').astype({ 'hour': int }).apply(to_hour, axis=1)
    hrs['Hour'] = Hour

    system_wide_rows = hrs.Station == 'System-wide'
    system_wide = hrs[system_wide_rows]
    hrs = hrs[~system_wide_rows]

    return hrs, totals, system_wide

def read_month_hours_stations(year, month, n_jobs=None, concat=True):
    if n_jobs:
        parallel = Parallel(n_jobs=n_jobs)
        fn = delayed(parse_station_month_hours_tables)
        rvs = parallel(
            fn(year, month, station)
            for station in stations
        )
    else:
        rvs = [
            parse_station_month_hours_tables(year, month, station)
            for station in stations
        ]
    if concat:
        return [ pd.concat(dfs) for dfs in zip(*rvs) ]
    else:
        return dfs

def read_year_hours_stations(year, last_month=None, n_jobs=None, concat=True):
    rvs = [
        read_month_hours_stations(year, month, n_jobs=n_jobs)
        for month in range(1, 13 if last_month is None else (last_month + 1))
    ]
    if concat:
        return [ pd.concat(dfs) for dfs in zip(*rvs) ]
    else:
        return rvs

In [9]:
%%time
suffixes = ['', '-total', '-system']
base = f'data/{year}-hourly'
paths = [ f'{base}{suffix}.pqt' for suffix in suffixes ]
extant = list(filter(exists, paths))

if extant and overwrite:
    print(f'Overwriting {", ".join(extant)}')

hrs, totals, system_wide = None, None, None
if extant != paths or overwrite:
    dfs = read_year_hours_stations(year, last_month=last_month, n_jobs=n_jobs)
    for df, path in zip(dfs, paths):
        print(f'Writing {path}')
        df.to_parquet(path, index=False)
    hrs, totals, system_wide = dfs

hrs

Writing data/2022-hourly.pqt
Writing data/2022-hourly-total.pqt
Writing data/2022-hourly-system.pqt
CPU times: user 205 ms, sys: 64.9 ms, total: 269 ms
Wall time: 1min 35s

,Year,Month,Station,Hour,Avg Weekday Entry,Avg Saturday Entry,Avg Sunday Entry,Avg Weekday Exit,Avg Saturday Exit,Avg Sunday Exit,Avg Holiday Entries,Avg Holiday Exits
2,2022,1,Christopher St.,0,34,85,83,11,18,18,33,4
3,2022,1,Christopher St.,1,13,59,63,6,12,11,21,1
4,2022,1,Christopher St.,2,14,56,41,4,6,7,16,4
5,2022,1,Christopher St.,3,6,27,20,8,8,6,9,5
6,2022,1,Christopher St.,4,7,22,19,10,7,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...
21,2022,9,Hoboken,19,513,638,339,1343,918,598,248,609
22,2022,9,Hoboken,20,266,466,235,869,905,471,175,337
23,2022,9,Hoboken,21,209,342,175,712,831,403,128,305
24,2022,9,Hoboken,22,132,281,92,569,712,333,78,227
25,2022,9,Hoboken,23,78,168,60,590,775,332,43,174

In [10]:
totals

,Year,Month,Station,Hour,Avg Weekday Entry,Avg Saturday Entry,Avg Sunday Entry,Avg Weekday Exit,Avg Saturday Exit,Avg Sunday Exit,Avg Holiday Entries,Avg Holiday Exits
26,2022,1,Christopher St.,Total,1692,1357,1255,1889,1600,1242,1133,1329
26,2022,1,9th Street,Total,1656,1258,1178,2066,1752,1509,1096,1446
26,2022,1,14th Street,Total,3164,2190,2022,4157,2664,2590,2209,2903
26,2022,1,23rd Street,Total,2584,1320,1115,2495,1361,1126,1642,1548
26,2022,1,33rd Street,Total,10031,6133,5367,9338,5088,4395,6875,5062
26,2022,1,WTC,Total,19225,8498,7789,22293,10380,9602,10883,13147
26,2022,1,Newark,Total,8923,3461,3269,11194,5190,4826,5191,6705
26,2022,1,Harrison,Total,2905,1185,1094,3122,1576,1468,1689,1866
26,2022,1,Journal Square,Total,11564,5816,5409,10192,6449,5914,7492,7356
26,2022,1,Grove Street,Total,6965,4585,3923,8081,5521,4987,4500,5750
26,2022,1,Exchange Place,Total,3999,2051,1784,5107,2903,2544,2273,3180
26,2022,1,Newport,Total,4130,2706,2523,4925,3375,3077,2769,3428
26,2022,1,Hoboken,Total,7347,4431,3595,8006,5077,4604,4209,4911
26,2022,1,System-wide,Total,84185,44991,40323,92866,52937,47884,51961,58631
26,2022,2,Christopher St.,Total,2216,2290,1746,2398,2842,1643,1841,2045
26,2022,2,9th Street,Total,2716,2340,1625,3263,3166,2009,1700,2364
26,2022,2,14th Street,Total,3988,3458,2673,5083,4287,2972,3070,3668
26,2022,2,23rd Street,Total,3757,2016,1426,3609,2299,1460,2161,2277
26,2022,2,33rd Street,Total,13211,9390,7308,12239,7687,5944,10421,6889
26,2022,2,WTC,Total,25140,12485,9125,29253,15891,10812,13463,17177
26,2022,2,Newark,Total,11619,5208,3616,14151,7114,5458,7154,9334
26,2022,2,Harrison,Total,3810,2003,1247,3851,2265,1697,2250,2424
26,2022,2,Journal Square,Total,14377,9205,6424,12820,9286,7526,10037,10240
26,2022,2,Grove Street,Total,9479,7816,5188,10334,8505,6529,6480,7621
26,2022,2,Exchange Place,Total,5764,3300,2158,7050,4427,3188,3290,4100
26,2022,2,Newport,Total,6623,4617,3198,7589,5197,4191,4171,4867
26,2022,2,Hoboken,Total,10421,7324,4302,10981,7998,5661,6530,7414
26,2022,2,System-wide,Total,113120,71450,50035,122621,80963,59089,72568,80420
26,2022,4,Christopher St.,Total,2804,2782,1892,3069,3342,1649,0,0
26,2022,4,9th Street,Total,2957,2627,1642,3627,3618,2083,0,0
26,2022,4,14th Street,Total,4854,4189,3148,5970,4959,3431,0,0
26,2022,4,23rd Street,Total,4387,2446,1508,4250,2610,1432,0,0
26,2022,4,33rd Street,Total,16089,11480,8096,14228,8137,6106,0,0
26,2022,4,WTC,Total,30088,15651,11680,34816,19317,13973,0,0
26,2022,4,Newark,Total,13563,6140,4846,15352,8281,6597,0,0
26,2022,4,Harrison,Total,4610,2828,1672,4415,2969,2138,0,0
26,2022,4,Journal Square,Total,15759,10661,7362,17925,13272,10264,0,0
26,2022,4,Grove Street,Total,11621,9368,5807,12497,10251,7430,0,0
26,2022,4,Exchange Place,Total,7334,4359,2880,8758,5743,4148,0,0
26,2022,4,Newport,Total,8392,5754,3612,9576,6582,4676,0,0
26,2022,4,Hoboken,Total,12881,8632,4960,13550,9684,6602,0,0
26,2022,4,System-wide,Total,135338,86917,59104,148034,98764,70526,0,0
26,2022,5,Christopher St.,Total,3005,2460,2212,3257,2902,2410,1666,1977
26,2022,5,9th Street,Total,2774,2164,1892,3471,3021,2461,1326,2105
26,2022,5,14th Street,Total,4885,3961,3319,5921,4937,3833,2871,3763
26,2022,5,23rd Street,Total,4534,2226,1869,4409,2295,1714,1659,1251
26,2022,5,33rd Street,Total,16603,10662,9429,14454,7639,7654,8911,8610
26,2022,5,WTC,Total,31216,13925,12374,35919,17633,15960,12048,16885
26,2022,5,Newark,Total,13591,5328,4849,15824,7512,6996,6414,8345
26,2022,5,Harrison,Total,4727,2539,1859,4620,2695,2321,1927,2215
26,2022,5,Journal Square,Total,16085,10335,8512,17777,12422,11276,8564,12305
26,2022,5,Grove Street,Total,11989,8321,6803,12590,9349,8275,5562,7407
26,2022,5,Exchange Place,Total,7672,3921,3322,9428,5161,4632,3174,4799
26,2022,5,Newport,Total,8799,5226,4334,10061,6218,5443,4130,5177
26,2022,5,Hoboken,Total,13040,7155,6048,12906,8308,7710,4901,5725
26,2022,5,System-wide,Total,138920,78221,66823,150636,90090,80684,63153,80564
26,2022,6,Christopher St.,Total,3232,3070,2381,3447,3487,3843,2420,2746
26,2022,6,9th Street,Total,2720,2737,2573,3342,3834,3441,2040,2655
26,2022,6,14th Street,Total,5024,4510,3754,6225,5396,4755,3671,4471
26,2022,6,23rd Street,Total,4762,2191,1837,4747,2520,2260,2988,2794
26,2022,6,33rd Street,Total,17969,12356,9800,13166,8159,5703,12763,8968
26,2022,6,WTC,Total,33206,17510,13328,39336,22414,16916,19259,24829
26,2022,6,Newark,Total,14338,6516,5653,17200,9881,8456,9565,11749
26,2022,6,Harrison,Total,5207,3208,2096,4849,3148,2494,3240,3556
26,2022,6,Journal Square,Total,16583,11698,9085,18835,14210,12037,13173,15715
26,2022,6,Grove Street,Total,12692,10215,7366,13980,11974,9648,8457,10265
26,2022,6,Exchange Place,Total,8343,4796,3349,10061,6523,5013,4760,6752
26,2022,6,Newport,Total,9446,5985,4462,10677,7021,5673,5790,5757
26,2022,6,Hoboken,Total,14252,8689,6477,13925,10274,8508,8536,8505
26,2022,6,System-wide,Total,147774,93478,72160,159790,108839,88746,96662,108762
26,2022,8,Christopher St.,Total,2891,2715,2062,3038,3278,2125,0,0
26,2022,8,9th Street,Total,2572,2353,1745,3130,3055,2205,0,0
26,2022,8,14th Street,Total,4812,4030,3094,5871,4790,3734,0,0
26,2022,8,23rd Street,Total,4471,2243,1702,4548,2836,1998,0,0
26,2022,8,33rd Street,Total,16921,11286,9244,13743,8555,7720,0,0
26,2022,8,WTC,Total,31382,17373,13239,38604,23325,17243,0,0
26,2022,8,Newark,Total,12886,6565,5343,16377,9570,7303,0,0
26,2022,8,Harrison,Total,4774,3692,2097,4702,3683,2510,0,0
26,2022,8,Journal Square,Total,15845,11281,8496,17705,13673,11787,0,0
26,2022,8,Grove Street,Total,12267,10040,6819,13419,11849,8959,0,0
26,2022,8,Exchange Place,Total,7686,4349,3090,9863,6519,5000,0,0
26,2022,8,Newport,Total,8930,5566,4083,10356,6681,5384,0,0
26,2022,8,Hoboken,Total,12807,7816,5530,12958,9062,7224,0,0
26,2022,8,System-wide,Total,138243,89309,66541,154317,106874,83188,0,0

In [11]:
system_wide

,Year,Month,Station,Hour,Avg Weekday Entry,Avg Saturday Entry,Avg Sunday Entry,Avg Weekday Exit,Avg Saturday Exit,Avg Sunday Exit,Avg Holiday Entries,Avg Holiday Exits
2,2022,1,System-wide,0,497,1116,765,914,1398,1165,421,769
3,2022,1,System-wide,1,221,783,457,440,1297,678,254,379
4,2022,1,System-wide,2,153,488,310,301,788,477,141,252
5,2022,1,System-wide,3,177,294,204,226,510,284,131,180
6,2022,1,System-wide,4,372,262,187,442,383,322,215,279
...,...,...,...,...,...,...,...,...,...,...,...,...
21,2022,9,System-wide,19,8850,6867,4543,11099,8559,5914,3981,5523
22,2022,9,System-wide,20,5950,5949,3806,7900,7978,5189,3080,4537
23,2022,9,System-wide,21,4611,4959,2911,6452,6968,4499,2300,3807
24,2022,9,System-wide,22,3466,4330,2209,4771,5888,3401,1772,2871
25,2022,9,System-wide,23,2332,3482,1415,3449,5260,2603,935,2106